{% extends 'index.twig' %}
{% block css %}
<link rel="stylesheet" href="{{baseurl}}assets/plugins/jqgrid/css/c-ui.css"/>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{baseurl}}assets/plugins/jqgrid/js/i18n/grid.locale-id.js"></script>
<script type="text/javascript" src="{{baseurl}}assets/plugins/jqgrid/js/jquery.jqGrid.min.js"></script>
<script type="text/javascript" charset="utf-8">
const ACTION_REMOVE = 'ACTION_REMOVE';
const ACTION_EDIT = 'ACTION_EDIT';
const ACTION_PRINT = 'ACTION_PRINT';
$.jgrid.defaults.responsive = true;
$.jgrid.defaults.styleUI = 'Bootstrap';
var $grid = $('#table');
var $gridDetail = $('#table-detail');

function action(type)
{
  var rows = $grid.getGridParam("selrow");
  if(rows) {
    switch (type) {
      case ACTION_REMOVE:
      bootbox.confirm("Sudah yakin anda?", function(action) {
        if(!action) {
          return;
        }
        Messenger({
          extraClasses: 'messenger-fixed messenger-on-top'
        }).run({
          successMessage: 'Data terhapus.',
          errorMessage: 'Terjadi kesalahan pada data atau server.',
          progressMessage: 'Sedang proses simpan data...'
        }, {
          url: "{{  url_remove }}/" + rows,
          method: "POST",
          success: function() {
            // $grid.bootstrapTable('refresh', {url: '{{source_url}}'});
            $grid.trigger('reloadGrid');
          }
        });
        console.log("ACTION_REMOVE");
      });
      return;
      case ACTION_EDIT:
      window.location = "{{  url_edit }}/" + rows;
      return;
      case ACTION_PRINT:
      console.log(rows);
      // var lastRow = $grid.jqGrid('getRowData', rows);
      // window.location = "{{  url_print }}/" + lastRow["{{print_key}}"];
      window.open("{{  url_print }}/" + rows);
      return;
    }
  } else {
    Messenger().post({
      message: 'Pilih data terlebih dahulu.',
      type: 'info',
      showCloseButton: true
    });
  }
}
$(function () {
  $grid.jqGrid({
    url: '{{source_url}}',
    datatype: "json",
    mtype: '{{method}}',
    regional : 'id',
    colModel: {{cols | raw}},
    multiselect: true,
    viewrecords: true,
    rownumbers: true,
    autowidth: true,
    height: 350,
    rowNum: 20,
    rowList : [5,10,20,50, "10000:semua"],
    rownumbers: true,
    rownumWidth: 37,
    {% if detail_grid_url %}
    onSelectRow: function(rowid, selected) {
      if(rowid != null) {
        $gridDetail.jqGrid('setGridParam',{url: '{{ detail_grid_url }}/'+ rowid, datatype: 'json'}); // the last setting is for demo only
        $gridDetail.jqGrid('setCaption', '{{ detail_grid_title }}'+ rowid);
        $gridDetail.trigger("reloadGrid");
      }
    }, // use the onSelectRow that is triggered on row click to show a details grid
    onSortCol : clearSelection,
    onPaging : clearSelection,
    {% endif %}
    beforeSelectRow: function(rowid, e)
    {
        $grid.jqGrid('resetSelection');
        return(true);
    },
    pager: "#table-pager"
  });
  $grid.jqGrid('navGrid', '#table-pager', {
    edit: false,
    add: false,
    del: false,
    search: false,
    refresh: true,
    view: true,
    position: "left",
    cloneToTop: true
  });
  $grid.jqGrid('bindKeys');

  {% if detail_grid_url %}
  $gridDetail.jqGrid({
    url: '{{baseurl}}assets/empty.json',
    mtype: "GET",
    datatype: "json",
    colModel: {{detail_cols | raw}},
    autowidth: true,
    height: 250,
    rowNum: 5,
    loadonce: true,
    viewrecords: true,
    caption: '{{ detail_grid_title }}',
    pager: "#table-detail-pager"
  });

  function clearSelection() {
    $gridDetail.jqGrid('setGridParam',{url: '{{baseurl}}assets/empty.json', datatype: 'json'}); // the last setting is for demo purpose only
    $gridDetail.jqGrid('setCaption', 'Detail Grid:: none');
    $gridDetail.trigger("reloadGrid");
  }
  {% endif %}
});
</script>
{% block subjs %}{% endblock %}
{% endblock %}
{% block content %}
<div class="block">
  <h6 class="heading-hr">
    <i class="icon-table"></i> {{ title }}
  </h6>

  <div class="well">
    {% if url_add %}<a href="{{url_add}}" class="btn btn-primary"><i class="icon-box-add"></i>Tambah Data</a>  {% endif %}
    {% if url_edit %}<button onclick="action('ACTION_EDIT');" class="btn btn-default"><i class="icon-box-add"></i>Ubah Data</button>{% endif %}
    {% if url_remove %}<button onclick="action('ACTION_REMOVE');" class="btn btn-danger"><i class="icon-box-remove"></i>Hapus Data</button>{% endif %}
    {% if url_print %}<button onclick="action('ACTION_PRINT');" class="btn btn-primary"><i class="icon-print"></i>Cetak Data</button>{% endif %}
    {# extends custom toolbar #}
    {% block toolbar %}{% endblock %}
  </div>

  <div style="margin-top: 23px;">
    <table id="table"></table>
    <div id="table-pager"></div>
  </div>
  {% if detail_grid_url %}
  <div style="margin-top: 23px;">
    <table id="table-detail"></table>
    <div id="table-detail-pager"></div>
  </div>
  {% endif %}


</div>
{% endblock %}
