{% extends 'principal/index.twig' %}
{% block sub_css %}
    <link rel="stylesheet" href="{{baseurl}}assets/plugins/bootstrap-table/dist/bootstrap-table.css"/>
    <link rel="stylesheet" href="{{baseurl}}assets/plugins/thickbox/css/thickbox.css"/>
{% endblock %}
{% block sub_js %}
    <script type="text/javascript" src="{{baseurl}}assets/plugins/bootstrap-table/dist/bootstrap-table.js"></script>
    <script type="text/javascript" src="{{baseurl}}assets/plugins/thickbox/js/thickbox.js"></script>
    <script type="text/javascript" charset="utf-8">
        const ACTION_REMOVE = 'ACTION_REMOVE';
        const ACTION_EDIT = 'ACTION_EDIT';
        var tb_pathToImage = "{{baseurl}}assets/plugins/thickbox/img/ico_waiting.gif";
        var $grid = $('#table');

        {% if modal %}
        function buttonOK()
        {
            var rows = $grid.bootstrapTable('getSelections');
            if(rows.length > 0) {
                _.assign(rows[0], {"item_qty": $("#item_jumlah").val()});
                self.parent.insertData(rows[0]);
                console.log(rows);
                tb_remove();
            }
        }
        {% endif %}

        function action(type)
        {
            var rows = $grid.bootstrapTable('getSelections');
            if(rows.length > 0) {
                switch (type) {
                    case ACTION_REMOVE:
                        bootbox.confirm("Sudah yakin anda?", function(action) {
                            if(!action) {
                                return;
                            }
                            Messenger({
                                extraClasses: 'messenger-fixed messenger-on-top'
                            }).run({
                                successMessage: 'Data terhapus.',
                                errorMessage: 'Terjadi kesalahan pada data atau server.',
                                progressMessage: 'Sedang proses simpan data...'
                            }, {
                                url: "{{  url_remove }}/" + rows[0].nama,
                                method: "POST",
                                success: function() {
                                    $grid.bootstrapTable('refresh', {url: '{{source_url}}'});
                                }
                            });
                            console.log("ACTION_REMOVE");
                        });
                        return;
                    case ACTION_EDIT:
                        window.location = "{{  url_edit }}/" + rows[0].nama;
                        return;
                }
            } else {
                Messenger().post({
                    message: 'Pilih data terlebih dahulu.',
                    type: 'info',
                    showCloseButton: true
                });
            }
        }
        $(function () {
            $grid.bootstrapTable({
                url: '{{source_url}}',
                method: '{{method}}',
                columns: {{cols | raw}}
            });
            $grid.on('check.bs.table', function ($el, data) {
                console.log(data);
            });
        });
    </script>
{% endblock %}
{% block sub_content %}
    <div class="block">
        <h6 class="heading-hr">
            <i class="icon-table"></i> {{ title }}
        </h6>
        {% if url_add %}
            <div class="well">
                {% if modal %}
                    <button onclick="tb_remove();" class="btn btn-primary"><i class="icon-box-cancel"></i>Batal</button>
                    <button onclick="buttonOK();" class="btn btn-primary"><i class="icon-box-cancel"></i>Pilih</button>
                {% else %}
                    <a href="{{url_add}}" class="btn btn-primary"><i class="icon-box-add"></i>Tambah Data</a>
                    <button onclick="action('ACTION_EDIT');" class="btn btn-default"><i class="icon-box-add"></i>Ubah Data</button>
                    <button onclick="action('ACTION_REMOVE');" class="btn btn-danger"><i class="icon-box-remove"></i>Hapus Data</button>
                {% endif %}

            </div>
        {% endif %}
        <div class="datatable">
            <table id="table"
                   data-toolbar="#{{method}}"
                   data-show-refresh="true"
                   data-search-align="left"
                   data-buttons-align="left"
                   data-toolbar-align="right"
                   data-pagination="true"
                   data-side-pagination="server"
                   data-page-list="[5, 10, 20, 50, 100, 200]"
                   data-search="true"
                   data-click-to-select="true"
                   data-single-select="true"
                   data-height="480">
            </table>
        </div>
    </div>
{% endblock %}
