<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
    <meta name="generator" content="kubuskotak">
    <link rel="stylesheet" href="{{baseurl}}assets/css/print_static.css" type="text/css" />
</head>

<body>

<div id="body">

    <div id="section_header" style="font-size: 7pt; text-align: center;">
        {{ title | raw}}
    </div>

    <div id="content" style="width: 100%;padding: 0.2em 1% 0.2em 1%;
  min-height: 15em;">

        <div class="page" style="font-size: 7pt">

            <table style="width: 100%; font-size: 5pt;">
                <tr>
                    <td>#Invoice: <strong>{{ invoice }}</strong></td>
                    <td><strong>{{price_list}}</strong> - Kasir: {{kasir}}</td>
                </tr>

                <tr>
                    <td><strong>{{ posting_date }} {{ posting_time }}</strong></td>
                    <td>Reg.no: <strong>{{ pasien_reg_no }}</strong></td>
                </tr>

                <tr>
                    <td>Alamat: <strong>{{ pasien_alamat }}</strong></td>
                    <td>Dokter: <strong>{{ dokter }}</strong></td>
                </tr>
            </table>

            <table style="width: 100%; border-top: 1px solid black; border-bottom: 1px solid black; font-size: 5pt;">

                <tr>
                    <td>Pasien: <strong>{{ pasien_nama }}</strong></td>
                    <td colspan="5"></td>
                </tr>

            </table>

            <table class="change_order_items" style="width: 100%;">
                <tbody>
                <tr>
                    <th>Kode</th>
                    <th>Barang</th>
                    <th>Quantity</th>
                    <th colspan="2">Harga</th>
                    <th>Sub Total</th>
                </tr>

                {% for row in rows %}
                    <tr class="even_row">
                    <td style="text-align: center;">{{ row.id}}</td>
                        <td>{{ row.item_kode }} - {{ row.item_nama }}</td>
                        <td style="text-align: center;">{{row.actual_qty | number_format(0, '.', ',')}}</td>
                        <td style="text-align: right; border-right-style: none;">Rp. {{ row.item_price | number_format(2, '.', ',')}}</td>
                        <td class="change_order_unit_col" style="border-left-style: none;">{{ row.item_uom}}</td>
                        <td class="change_order_total_col" style="text-align: right;">Rp. {{ row.amount | number_format(2, '.', ',')}}</td>
                    </tr>
                {% endfor %}

                </tbody>
                <tr>
                    <td colspan="3" style="text-align: right;"></td>
                    <td colspan="2" style="text-align: right;"><strong>Total:</strong></td>
                    <td class="change_order_total_col" style="text-align: right;"><strong>Rp. {{amount | number_format(2, '.', ',')}}</strong></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: right;"></td>
                    <td colspan="2" style="text-align: right;"><strong>Bayar:</strong></td>
                    <td class="change_order_total_col" style="text-align: right;"><strong>Rp. {{payment | number_format(2, '.', ',')}}</strong></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: right;"></td>
                    <td colspan="2" style="text-align: right;"><strong>Kembali:</strong></td>
                    <td class="change_order_total_col" style="text-align: right;"><strong>Rp. {{ (payment - amount) | number_format(2, '.', ',')}}</strong></td>
                </tr>
            </table>
        </div>

    </div>
</div>

<script type="text/javascript">
    window.print();

    // close the window after print
    // NOTE: doesn't close if print is cancelled in Chrome
    setTimeout(function() {
        window.close();
    }, 1000);
</script>

</body>
</html>
