<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tekkadan - Health care management system</title>

    <link href="{{baseurl}}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{baseurl}}assets/css/londinium-theme.css" rel="stylesheet" type="text/css">
    <link href="{{baseurl}}assets/css/styles.css" rel="stylesheet" type="text/css">
    <link href="{{baseurl}}assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="{{baseurl}}assets/css/font.css" rel="stylesheet" type="text/css">

    <link href="{{baseurl}}assets/plugins/messenger/messenger.css" rel="stylesheet" type="text/css">
    <link href="{{baseurl}}assets/plugins/messenger/messenger-theme-flat.css" rel="stylesheet" type="text/css">
    <link href="{{baseurl}}assets/plugins/messenger/messenger-theme-block.css" rel="stylesheet" type="text/css">

    {% block basecss %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body class="navbar-fixed sidebar-wide">

{% include 'navbar.twig'%}

{#<!-- Page container -->#}


{#<!-- Page content -->#}
<div class="error-wrapper text-center">
    <div><img src="{{baseurl}}assets/images/error-system.png" alt="" /></div>
    <h6>Terjadi Kesalahan pada sistem. Harap menghubungi administrator Tekkadan &trade; Health Care Management System &copy;2015</h6>
    <a href="{{ urlFor('home') }}">Kembali ke halaman utama</a>
</div>

<script type="text/javascript" src="{{baseurl}}assets/js/jquery-1.10.1.min.js"></script>

<script type="text/javascript" src="{{baseurl}}assets/js/plugins/interface/moment.js"></script>
<script type="text/javascript" src="{{baseurl}}assets/js/plugins/interface/collapsible.min.js"></script>
<script type="text/javascript" src="{{baseurl}}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{baseurl}}assets/js/bootbox.min.js"></script>
<script type="text/javascript" src="{{baseurl}}assets/plugins/lodash.min.js"></script>
<script type="text/javascript" src="{{baseurl}}assets/plugins/messenger/messenger.min.js"></script>
<script type="text/javascript" src="{{baseurl}}assets/plugins/messenger/messenger-theme-flat.js"></script>

{% block basejs %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>